﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body  wj-movies ng-init="init()" >
    <div class="panel panel-success">
        <div class="panel-heading">Please select the Movies from option 1 or 2 to compare the prices(Some movies are replicated but it just for convience you can choose from any of them)
</div>
        <div class="panel-body">
            <div class="row" ng-show="MoviesAll || FilmWorldMovies">
                <div class="col-md-4 col-md-offset-2" ng-show="MoviesAll">
                    List of Cinema World Movies :
                    <select ng-model="movie" ng-change="clearOtherDropDown(false)">
                        <option value=""></option>
                        <option ng-repeat="movie in MoviesAll" value="{{movie}}">{{movie.Title}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-md-offset-2" ng-show="!MoviesAll">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </div>
                <div class="col-md-5 col-md-offset-1" ng-show="FilmWorldMovies">
                    List of Film World Movies :
                    <select ng-model="moviefilm" ng-change="clearOtherDropDown(true)">
                        <option value=""></option>
                        <option ng-repeat="moviefilm in FilmWorldMovies" value="{{moviefilm}}">{{moviefilm.Title}}</option>
                    </select>
                </div>
                <div class="col-md-5 col-md-offset-1" ng-show="!FilmWorldMovies"><span class="glyphicon glyphicon-thumbs-down"></span></div>
            </div>
            <div class="row" ng-show="MoviesAll || FilmWorldMovies">
                <div class="col-md-12 col-md-offset-5" style="padding:10px;"><input type="button" class="btn btn-primary" value="Compare Prices" ng-click="compareMoviePrices()" /></div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row" ng-show="Result">
                <label ng-class="hightlightLessPrice('1')">{{Result}}</label>
                <span class="glyphicon-class glyphicon glyphicon-ok" ng-show="Cinema"></span>
                <span class="glyphicon-class glyphicon glyphicon-remove" ng-show="!Cinema"></span>
            </div>
            <div class="row " ng-show="FilmResult">
                <label ng-class="hightlightLessPrice('2')">{{FilmResult}}</label>
                <span class="glyphicon-class glyphicon glyphicon-ok" ng-show="!Cinema"></span>
                <span class="glyphicon-class glyphicon glyphicon-remove" ng-show="Cinema" ></span>
            </div>
        </div>

    </div>
    
  

   
</body>
