﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     @Styles.Render("~/bundles/styles")
</head>
<body ng-app="Movies">
   
    <div class="container body-content">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/JS")
    @RenderSection("scripts", required: false)
</body>
</html>
